includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: max

    excludePaths:
        - app/Exceptions/Handler.php

    checkMissingIterableValueType: false